@import '../../config';

.IdCard__container{

    position: relative;
    cursor: pointer;
    background: transparent;
    margin-top: 2.5rem;
    border-radius: .5rem;
    height: 300px;

    .IdCard__btn{
        position: absolute;
        top: -20px;
        left: -15px;
    }
    
    .IdCard__details{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        img{
            z-index: -1;
            height: 100%;
            width: 100%;
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        }
        
        .IdCard__name{
            position: absolute;
            bottom: 0;
            transform: translateY(50%);
            padding: 1rem;
            text-align: center;
            color: $primary-color;
            background: $grey-dark-gradient;
            font-size: 1.5rem;
            font-weight: bold;
        }    
    }

    &:hover{
        transform: translate(-2px, -2px);
        transition: all .2s ease-in-out;
    }
}

@media screen and (max-width: 1200px) {
    .IdCard__container{
        width: 280px;
    }
}

@media screen and (max-width: 500px) {
    .IdCard__container{
        width: 220px;
        height: 220px;
    }
}