@import '../../config';

.IdCard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    cursor: pointer;

    border: $accent-color 1px solid;
    border-radius: .5rem;
    background-color: $primary-color;

    height: 300px;

    img{
        border-radius: 50%;
        height: 7rem;
        width: 7rem;
    }

    div{
        color: $accent-color;
    }

    span{
        align-self: flex-start;
        font-weight: 700;
        color: $gold;
    }

    .IdCard__name{
        color: $primary-accent-gradient;
        font-size: 1.5rem;
        font-weight: bold;
        margin: .5em 0;
    }

    &::before{
        content: '';
        height: 34%;
        width: 100%;
        background-color: $gold;
        border-radius: .5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        position: absolute;
        top: 0;
        z-index: -1;
    }

    &:hover{
        transform: translate(-2px, -2px);
        box-shadow: 0 2px 0 0 $primary-accent-gradient;
        transition: all .2s ease-in-out;
    }
}