.home__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;

    .home__no-items-found{
        grid-column-start: 1;
        grid-column-end: 4;
    }
}