@import '../../config';
  

.tabs__container{
    width: 300px;
    box-sizing: border-box;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 27px;
    
    .tabs__titles{
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        background-color: $accent-color;
        padding: .4rem;
        border-radius: 50px;
        margin-bottom: 1.5rem;
        font-size: .9rem;
        font-weight: bold;
        
        .tabs__title{
            cursor: pointer;
            transition: all .3s ease-in-out;

            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
            span{
                margin-left: 5px;
                padding: 1px 5px;
                background: $primary-color;
                color: $accent-color;
                border-radius: 20px;
                font-size: .8rem;
                font-weight: bold;
            }
        }

        .active{
            padding: .2rem .4rem;
            border-radius: 50px;
            background-color: $primary-color;
            color: $accent-color;
        }
    }
    

    .tabs__content{

        .tabs__content-col{
            display: none;
            padding-bottom: 1rem;

            .tabs__element{
                margin: 1.2rem;
            }
        }

        .content-display{
            display: block;
        }
    }

}