@import '../../config';

.navigation__nav{
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    z-index: 10;

    background-color: #d3dbe7;
}

.navigation__aside{
    position: fixed;
    padding: .5rem 2rem;
    top: 50vh;
    left: -140px;
    transform: rotate(-90deg);
    border-radius: 8px;
    color: $grey-light;
    background-color: $blue-dark;
}