@import '../../config';

.navigation__nav{
    position: sticky;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding: 1rem;
    min-width: 300px;
    top: 0;
    z-index: 10;

    background: $grey-dark-gradient;

    .logo-container{
        cursor: pointer;
    }

    .navigation__buttons{
        display: flex;

        .navigation__btn{
            margin: 0 1rem;
            color: $primary-color;
            text-decoration: none;
            border: 3px solid $primary-color;
            padding: .4rem .6rem;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            transition: all .2s ease-in-out;
    
            &:hover{
                color: black;
                background-color: $primary-color;
            }

        }

        .my-team{
            color: $accent-color;
            border: 3px solid $accent-color;

            &:hover{
                color: $primary-color;
                background-color: $accent-color;
            }
        }
    }

}

.navigation__aside{
    position: fixed;
    padding: .5rem 2rem;
    top: 50vh;
    left: -220px;
    transform: rotate(-90deg);
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: $primary-color;
    background: $accent-color;
}