@import '../../config';

.spinner-overlay{
  grid-column-start: 2;
  grid-column-end: 3;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .spinner-container{
    width: 50px;
    height: 50px;
    border: 3px solid rgba(195, 195, 195, 0.6);
    border-radius: 50%;
    border-top-color: $accent-color;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    @keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
  }
}


// media queries
@media screen and (max-width: 1200px) {
  .spinner-overlay{
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media screen and (max-width: 800px) {
  .spinner-overlay{
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
