@import '../../config';

.idBtn__add-btn{
    display: flex;
    align-items: center;
    background: $grey-dark-gradient;
    padding: .3rem;
    border-radius: 50%;
    
    .idBtn__add-btn-add{
        display: flex;
        justify-content: center;
        align-items: center;
        color:  #fb3958;
        
        .idBtn_icon {
            font-size: 30px;
            height: 30px;
            width: 30px;
        }        
    }
    
    .idBtn__add-btn_tooltip{
        display: none;
        padding: 0 8px;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        color: $primary-color;
        transition: all .8s ease-in-out;
    }
    
    &:hover{
        justify-content: start;
        border-radius: 15px;
        
        .idBtn__add-btn_tooltip{
            display: block;
        }
    }


}

// media queries
@media screen and (max-width: 1000px) {
    .idBtn__add-btn{
      
        justify-content: start;
        border-radius: 15px;
        
        .idBtn__add-btn_tooltip{
            display: block;
        }
    }
}