@import '../../config';

@mixin symbolStyles{
    font-size: 3rem;
    color: $grey-dark-gradient;
    
    &::before{
        content: '';
        width: 60%;
        height: 60%;
        z-index: -1;
        position: absolute;
        border-radius: 50%;
        top: 8px;
        right: 8px;
    }
}

@mixin tooltipStyles{
    display: none;
    position: absolute;
    background: $grey-dark-gradient;
    width: 240%;
    padding: 10px;
    padding-left: 25px;
    text-align: center;
    border-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-5%, -56%);
    z-index: -3;
    text-transform: uppercase;
    font-weight: bold;
}

@mixin defaultStyles{

    cursor: pointer;
    
    .idBtn__add-btn-add{
        @include symbolStyles();

        &::before{
            background: $gold;
        }
    }

    .idBtn__add-btn-check{
        @include symbolStyles();

        &::before{
            background: rgb(127, 230, 127);
        }
    }
    
    .idBtn__add-btn_tooltip-add{
        @include tooltipStyles();
        color: $gold;
    }
    
    .idBtn__add-btn_tooltip-check{
        @include tooltipStyles();
        color: rgb(127, 230, 127);;
    }
    
    &:hover{
        .idBtn__add-btn_tooltip-add{
            display: inline;
        }

        .idBtn__add-btn_tooltip-check{
            display: inline;
        }
    }
}

.idBtn__add-btn{
    
    z-index: 2;
    position: absolute;
    left: -15px;
    top: -15px;    
    
    @include defaultStyles();
}

@media screen and (max-width: 800px) {

    .idBtn__add-btn{
    
        .idBtn__add-btn_tooltip-add{
            display: block;
        }

        .idBtn__add-btn_tooltip-check{
            display: block;
        }
    }
}