@import '../../config';

.signup__container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1rem;

  h2 {
    margin: 10px 0;
  }

  .signup__btns{
    padding: .5rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    color: $primary-color;
    background-color: $accent-color;
    border: none;

    &:active{
        transform: translate(-2px, -2px);
    }
  }

}

@media screen and (max-width: 800px) {
  .signup__container{
      width: 280px;
      border: 1px $accent-color solid;
      border-top-right-radius: 25px;
      border-bottom-left-radius: 25px;
  }
}