@import '../../config';

.search{
    position: relative;
    
    input, button {
        box-sizing: border-box;
        border: none;
        padding: 10px;
        height: 100%;
        outline: none;
        font-family: inherit;
        font-size: 1rem;
    }
    
    input{
        width: 70%;
        min-width: 30%;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    
    button{
        width: 30%;
        font-weight: bold;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
        cursor: pointer;
        color: $primary-color;
        background-color: $accent-color;
    }
}

@media screen and (max-width: 800px) {
    .search{
        position: fixed;
        bottom: 1%;
    }
}